h1 {
	font-size: 80px;
}

.big-text{
	font-size: 50px;
}

p {
	color: white;
}

body {
	background-color: #272822;
	font-size: 18px;
}

h1, h2, h3, h4 {
	font-family: Do Hyeon, monospace;
}

.card {
	background-color: white;
	margin: 30px auto; 
    float: none; 
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
}

.card-body p {
		color: #272822;
}